@model MVC.Models.LogementModelView.LogementCreateForm

<h4>LogementCreateForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
            <div class="form-group">
                <label asp-for="NomLogement" class="control-label"></label>
                <input asp-for="NomLogement" class="form-control" />
                <span asp-validation-for="NomLogement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresseRue" class="control-label"></label>
                <input asp-for="adresseRue" class="form-control" />
                <span asp-validation-for="adresseRue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresseNumero" class="control-label"></label>
                <input asp-for="adresseNumero" class="form-control" />
                <span asp-validation-for="adresseNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresseCodePostal" class="control-label"></label>
                <input asp-for="adresseCodePostal" class="form-control" />
                <span asp-validation-for="adresseCodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adressePays" class="control-label"></label>
                <input asp-for="adressePays" class="form-control" />
                <span asp-validation-for="adressePays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionCourte" class="control-label"></label>
                <input asp-for="DescriptionCourte" class="form-control" />
                <span asp-validation-for="DescriptionCourte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLongue" class="control-label"></label>
                <input asp-for="DescriptionLongue" class="form-control" />
                <span asp-validation-for="DescriptionLongue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreation" class="control-label"></label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePieces" class="control-label"></label>
                <input asp-for="NombrePieces" class="form-control" />
                <span asp-validation-for="NombrePieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixNuit" class="control-label"></label>
                <input asp-for="PrixNuit" class="form-control" />
                <span asp-validation-for="PrixNuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacite" class="control-label"></label>
                <input asp-for="Capacite" class="form-control" />
                <span asp-validation-for="Capacite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalleBain" class="control-label"></label>
                <input asp-for="SalleBain" class="form-control" />
                <span asp-validation-for="SalleBain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wc" class="control-label"></label>
                <input asp-for="Wc" class="form-control" />
                <span asp-validation-for="Wc" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Balcon" /> @Html.DisplayNameFor(model => model.Balcon)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AirConditionne" /> @Html.DisplayNameFor(model => model.AirConditionne)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wifi" /> @Html.DisplayNameFor(model => model.Wifi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MiniBar" /> @Html.DisplayNameFor(model => model.MiniBar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AnimauxAdmis" /> @Html.DisplayNameFor(model => model.AnimauxAdmis)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Piscine" /> @Html.DisplayNameFor(model => model.Piscine)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RoomService" /> @Html.DisplayNameFor(model => model.RoomService)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Lattitude" class="control-label"></label>
                <input asp-for="Lattitude" class="form-control" />
                <span asp-validation-for="Lattitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
